@use "sass:math";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "verdedott": #142617,
  "verdedottclaro": #386b41,
  "fondoOscuro": #c9cfcf,
  "fondoClaro": #f4f4f6,
  "rojodott": #9d2222,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// $input-color: #386b41 !important;
// $input-border-color: var($input-color) !important;

// $input-focus-border-color: tint-color(#386b41, 50%);
// $input-focus-color: #386b41 !important;
// $input-focus-box-shadow: 0 1px 1px #286d35 inset, 0 0 8px #286d35 !important;

// $input-placeholder-color: #386b41 !important;
// $input-plaintext-color: #386b41 !important;

// Definición de las variables
$input-custom-color: #386b41;

.custom-input {
  // Estilos generales del input
  background-color: white;
  border: 1px solid $input-custom-color;
  color: $input-custom-color;
  padding: 10px;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: $input-custom-color;
  }

  &:focus {
    // border-color: tint-color(#386b41, $representation);
    border-color: tint-color(#386b41, math.abs(50%));
    box-shadow: 0 1px 1px #286d35 inset, 0 0 8px #286d35;
    outline: none;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  background-color: #142617 !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f4f4f6;
}
p {
  color: #142617 !important;
}

.borderCategory {
  border: 1px #142617 solid;
}

@media (max-width: 450px) {
  .agregarMargin {
    margin-top: 2rem;
  }

  .ocultar {
    display: none !important;
  }

  .separarData {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .achicarLetra {
    font-size: 1rem !important;
  }

  .cardPipina {
    width: 10rem !important;
  }

  .btnPipino {
    width: 4rem !important;
    height: 3rem !important;
  }

  .cardLetraChica {
    font-size: 0.7rem !important;
  }

  .cardLetraMediana {
    font-size: 0.9rem !important;
  }

  .mostrar {
    display: block !important;
  }

  .ocultar {
    display: none;
  }

  .agrandarPantalla {
    width: 90% !important;
  }

  .responsiveNavbar {
    width: 100% !important;
  }

  .cartCardResponsive {
    flex-wrap: wrap;
    max-height: none !important;
  }

  .aumentarTamañoResponsive {
    width: 100% !important;
  }

  .convertirColumna {
    flex-direction: column;
  }

  .btnCartContainerResponsive {
    display: flex;
    margin-right: 1rem;
    justify-content: flex-end;
  }

  .agrandarContainerFlex {
    flex-grow: 1;
  }
}
